{% extends 'base.html' %}
{% block container %}
{% if error %}
<div class="alert alert-primary" role="alert">
    {{error|safe}}
</div>
{% endif %}
<form action="{{ url_for('query') }}">
  <div class="form-group">
    <label for="query">Query</label>
    <input class="form-control" name="query" id="query">
    <br>
    <label for="type">Platform</label>
    <select class="form-control" name="type" id="type">
      <option value="bpo">bugs.python.org</option>
      <option value="pr">python/cpython PRs (by file)</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div class="row align-items-center justify-content-center border border-primary" style="padding: 5rem;">
    {% for project in ciprojects %}
    <a href="https://github.com/isidentical/pyastci"><img src="https://github.com/isidentical/pyastci/workflows/{{project}}/badge.svg" alt="{{project}}" width="400rem" height="75rem"></a>
    {% endfor %}
</div>
{% endblock %}
